<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download file</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <style>
        .clip {
            white-space: nowrap; /* Запрещаем перенос строк */
            overflow: hidden; /* Обрезаем все, что не помещается в область */
            background: azure; /* Цвет фона */
            text-overflow: ellipsis; /* Добавляем многоточие */
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <img src="http://www.clipartbest.com/download?clipart=di77nA5i9" width="426" height="341" alt="Cloud picture">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="{{filename}}" aria-label="Recipient's username"
               aria-describedby="button-addon2" disabled>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                    onclick="window.location.href='{{download_link}}'">Download
            </button>
        </div>
    </div>
</div>
</body>
</html>
