<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <title>Upload you file</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <img src="http://www.clipartbest.com/download?clipart=di77nA5i9" width="426" height="341" alt="Cloud picture">
    </div>
    <div class="row justify-content-md-center">
        <form action="https://storage.yandexcloud.net/filesend-bucket" method="post" enctype="multipart/form-data">
            <input type="hidden" name="key" value="{{key}}"/><br/>
            <input type="hidden" name="x-amz-credential" value="{{x_amz_credential}}"/>
            <input type="hidden" name="acl" value="public-read"/>
            <input type="hidden" name="x-amz-algorithm" value="{{x_amz_algorithm}}"/>
            <input type="hidden" name="x-amz-date" value="{{x_amz_date}}"/>
            <input type="hidden" name="success_action_redirect"
                   value="{{success_action_redirect}}"/>
            <input type="hidden" name="policy" value="{{policy}}"/>
            <input type="hidden" name="x-amz-signature"
                   value="{{x_amz_signature}}"/>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" name="file" class="custom-file-input" id="inputGroupFile04"
                           aria-describedby="inputGroupFileAddon04">
                    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Upload</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>